.classpath
.project
.settings/
.sts4-cache/
.recommenders/
.apt_generated/
target/
pom.xml.tag
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
build/
!**/src/main/**/target/
!**/src/test/**/target/
/bin/
/out/
*.log
*.class
.DS_Store
Thumbs.db
.env